---
import "./input.scss";

interface Props {
  name: string;
  label?: string;
  placeholder?: string;
  disabled?: boolean;
}

const { label, placeholder, name, disabled } = Astro.props;
---

<div class:list={"input"}>
  {
    label ? (
      <label class="input__label" for={name}>
        {label}
      </label>
    ) : (
      <label class="sr-only" for={name}>
        {placeholder}
      </label>
    )
  }
  <input
    type="text"
    name={name}
    id={name}
    class="input__control"
    placeholder={placeholder}
    disabled={disabled}
    aria-invalid="false"
    aria-describedby={name}
  />
</div>
